[Unit]
Before=multi-user.target
After=local-fs.target

[Service]
Type=simple
Restart=no
KillMode=process
ExecStart=/etc/init.d/hamonikr-system start

[Install]
WantedBy=multi-user.target
