#!/usr/bin/make -f

%:
	dh $@

override_dh_usrlocal:
	# remove this override when there aren't
	# anymore files in /usr/local

override_dh_installsystemd:
	dh_installsystemd -phamonikr-system hamonikr-system.service

override_dh_link:
	dh_link -X os-release

override_dh_installdeb:
	dh_installdeb
	rm debian/*/DEBIAN/conffiles

