[Desktop Entry]
Name[ar]=لولي بوب (Lollypop)
Name[ca]=Lollypop
Name[cs]=Lollypop
Name[da]=Lollypop
Name[de]=Lollypop
Name[el]=Lollypop
Name[en_GB]=Lollypop
Name[eo]=Lollypop
Name[es]=Lollypop
Name[fa]=لالی‌پاپ
Name[fi]=Lollypop
Name[fr]=Lollypop
Name[he]=Lollypop
Name[hr]=Lollypop
Name[hu]=Lollypop
Name[ie]=Lollypop
Name[it]=Lollypop
Name[ja]=Lollypop
Name[ko]=뮤직 플레이어 롤리팝
Name[lt]=Lollypop
Name[nb_NO]=Lollypop
Name[nl_BE]=Lollypop
Name[nl]=Lollypop
Name[pl]=Lollypop
Name[pt_BR]=Lollypop
Name[pt]=Lollypop
Name[pt_PT]=Lollypop
Name[ru]=Lollypop
Name[sk]=Lollypop
Name[sr@latin]=Lollypop
Name[sr]=Лолипоп
Name[sv]=Lollypop
Name[tr]=Lollypop
Name[uk]=Lollypop
Name[zh_CN]=Lollypop
Name[zh_Hant]=Lollypop
Name=Music Player Lollypop
GenericName[ar]=قارئ الوسائط
GenericName[ca]=Reproductor musical
GenericName[cs]=Přehrávač hudby
GenericName[da]=Musik afspiller
GenericName[de]=Musikspieler
GenericName[el]=Αναπαραγωγός Μουσικής
GenericName[en_GB]=Music Player
GenericName[eo]=Muzikludilo
GenericName[es]=Reproductor de música
GenericName[fa]=پخش کننده موسیقی
GenericName[fi]=Musiikkisoitin
GenericName[fr]=Lecteur de musique
GenericName[he]=נגן מוזיקה
GenericName[hr]=Svirač glazbe
GenericName[hu]=Zenelejátszó
GenericName[ie]=Reproductor de musica
GenericName[it]=Riproduttore Musicale
GenericName[ja]=音楽プレーヤー
GenericName[ko]=뮤직 플레이어
GenericName[lt]=Muzikos grotuvas
GenericName[nb_NO]=Musikkavspiller
GenericName[nl_BE]=Muziekspeler
GenericName[nl]=Muziekspeler
GenericName[pl]=Odtwarzacz muzyki
GenericName[pt_BR]=Reprodutor de Música
GenericName[pt]=Leitor de Música
GenericName[pt_PT]=Leitor de Música
GenericName[ru]=Музыкальный плеер
GenericName[sk]=Hudobný prehrávač
GenericName[sr@latin]=Muzički plejer
GenericName[sr]=Пуштач музике
GenericName[sv]=Musikspelare
GenericName[tr]=Müzik Çalar
GenericName[uk]=Музичний програвач
GenericName[zh_CN]=音乐播放器
GenericName[zh_Hant]=音樂播放器
GenericName=Music Player
Comment[ar]=شغل مجموعات الموسيقى ونظمها
Comment[ca]=Escolteu i organitzeu la vostra col·lecció de música
Comment[cs]=Přehrávat a pořádat hudební sbírku
Comment[da]=Afspil og organiser din musiksamling
Comment[de]=Spiele und organisiere deine Musiksammlung
Comment[el]=Αναπαραγωγή και οργάνωση της μουσικής σας συλλογής
Comment[en_GB]=Play and organise your music collection
Comment[eo]=Ludu kaj organizu vian muzikaron
Comment[es]=Reproduce y organiza tu colección de música
Comment[fi]=Toista ja hallitse musiikkikokoelmaasi
Comment[fr]=Lit et organise votre collection de musique
Comment[he]=נגינה וסידור אוסף המוזיקה שלך
Comment[hr]=Sviraj i organiziraj svoju zbirku glazbe
Comment[hu]=Zenegyűjtemény rendszerezése és lejátszása
Comment[ie]=Reproducter e organisar vor collection de musica
Comment[it]=Riproduci ed organizza la tua raccolta musicale
Comment[ja]=お気に入りの楽曲コレクションを再生・管理します
Comment[ko]=뮤직 컬랙션을 재생하거나 관리랍니다.
Comment[lt]=Grokite ir tvarkykite savo muzikinę kolekciją
Comment[nb_NO]=Spill og organiser din musikksamling
Comment[nl_BE]=Organiseert uw muziekcollectie en speelt muziek af
Comment[nl]=Breng orde in je muziekverzameling en speel muziek af
Comment[pl]=Odtwarzaj i organizuj twoją kolekcję muzyki
Comment[pt_BR]=Reproduz e organiza sua coleção de músicas
Comment[pt]=Reproduza e organize sua coleção de música
Comment[pt_PT]=Reproduza e organize a sua coleção de música
Comment[ru]=Воспроизведение и упорядочивание вашей музыкальной коллекции
Comment[sk]=Prehrávanie a usporiadanie hudobnej zbierky
Comment[sr@latin]=Puštajte i organizujte vašu muzičku zbirku
Comment[sr]=Пуштајте и организујте вашу музичку збирку
Comment[sv]=Spela och organisera din musiksamling
Comment[tr]=Müzik koleksiyonunuzu çalın ve düzenleyin
Comment[uk]=Відтворення та впорядкування вашої музичної збірки
Comment[zh_CN]=播放与整理你的音乐集
Comment[zh_Hant]=播放您的音樂與整理音樂收藏
Comment=Play and organize your music collection
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Lollypop
Exec=lollypop %U
Terminal=false
Type=Application
Categories=GNOME;GTK;AudioVideo;Player;Audio;
# Translators: Search term to easier find the app. Do NOT translate or localize the semicolons - also, must end with semicolon.
Keywords[cs]=Hudba;Přehrávač;Lollipop;
Keywords[eo]=Muziko;Ludilo;Lollipop;
Keywords[es]=Music;Player;Lollipop;Música;Reproductor;
Keywords[fi]=Music;Player;Lollipop;musiikki;soitin;musiikkisoitin;
Keywords[fr]=Musique;Lecteur;Sucette;
Keywords[he]=נגן;לוליפופ;מוזיקה;מוסיקה;נגינה;שירים;
Keywords[hr]=Glazba;Svirač;Player;Lollipop;
Keywords[ie]=Musica;reproductor;player;Lollipop;
Keywords[it]=Musica;Player;Lollypop;
Keywords[ja]=Music;Player;Lollipop;音楽;楽曲;曲;歌;ミュージック;プレイヤー;プレーヤー;再生;
Keywords[ko]=뮤직;음악;플레이어;롤리팝;Music;Player;Lollipop;
Keywords[nl]=Muziek;Speler;Lollipop;
Keywords[pt_BR]=Música, Tocador, Lollypop;
Keywords[ru]=Музыка;Плеер;Lollypop;Треки;
Keywords[sk]=Hudba;Prehrávač;Lollipop;
Keywords[sv]=Musik;Spelare;Lollipop;
Keywords[tr]=Music;Player;Lollipop;Müzik;Çalar;
Keywords[uk]=Музика;Програвач;Плеєр;Music;Player;Lollipop;
Keywords[zh_CN]=音乐;播放器;Lollipop;
Keywords=Music;Player;Lollipop;
StartupNotify=true
#X-PulseAudio-Properties=media.role=music
MimeType=application/ogg;application/x-ogg;application/x-ogm-audio;audio/aac;audio/mp4;audio/mpeg;audio/mpegurl;audio/ogg;audio/vnd.rn-realaudio;audio/vorbis;audio/x-flac;audio/x-mp3;audio/x-mpeg;audio/x-mpegurl;audio/x-ms-wma;audio/x-musepack;audio/x-oggflac;audio/x-pn-realaudio;audio/x-scpls;audio/x-speex;audio/x-vorbis;audio/x-vorbis+ogg;audio/x-wav;x-content/audio-player;audio/x-aac;audio/m4a;audio/x-m4a;audio/mp3;audio/ac3;audio/flac;application/xspf+xml;audio/x-opus+ogg;application/vnd.apple.mpegurl
# Translators: Do NOT translate or transliterate this text (these are enum types)!
X-Purism-FormFactor=Workstation;Mobile;

Actions=Toggle;Next;Prev;

[Desktop Action Toggle]
Name[ar]=قراءة/لبث
Name[ca]=Reprodueix / Pausa
Name[cs]=Přehrát/Pozastavit
Name[da]=Afspil/Sæt på pause
Name[de]=Wiedergabe/Pause
Name[el]=Αναπαραγωγή/Παύση
Name[en_GB]=Play/Pause
Name[eo]=Ludi/paŭzigi
Name[es]=Reproducir/Pausar
Name[fa]=پخش/درنگ
Name[fi]=Toista/keskeytä
Name[fr]=Lecture/Pause
Name[he]=נגינה/השהיה
Name[hr]=Sviraj/Zaustavi
Name[hu]=Lejátszás/szünet
Name[ie]=Reproducter/pausar
Name[it]=Avvio/Pausa
Name[ja]=再生/一時停止
Name[ko]=재생하기/ 일시중지
Name[lt]=Groti/Pristabdyti
Name[nb_NO]=Spill/pause
Name[nl_BE]=Afspelen/pauzeren
Name[nl]=Afspelen/Pauzeren
Name[pl]=Odtwórz/Pauza
Name[pt_BR]=Tocar/Pausar
Name[pt]=Reproduzir/Pausar
Name[pt_PT]=Reproduzir/Pausar
Name[ru]=Воспроизведение/Пауза
Name[sk]=Prehrať/Pozastaviť
Name[sr@latin]=Pusti/zaustavi
Name[sr]=Пусти/заустави
Name[sv]=Spela/Pausa
Name[tr]=Çal/Duraklat
Name[uk]=Відтворити/Призупинити
Name[zh_CN]=播放/暂停
Name[zh_Hant]=播放/暫停
Name=Play/Pause
Exec=lollypop -t

[Desktop Action Next]
Name[ar]=التالي
Name[ca]=Següent
Name[cs]=Další
Name[da]=Næste
Name[de]=Nächster Titel
Name[el]=Επόμενο
Name[en_GB]=Next
Name[en_IE]=Next
Name[eo]=Sekva
Name[es]=Siguiente
Name[fa]=بعدی
Name[fi]=Seuraava
Name[fr]=Suivant
Name[ga]=An chéad rian eile
Name[he]=הבא
Name[hr]=Sljedeća
Name[hu]=Következő
Name[ie]=Sequent
Name[it]=Successivo
Name[ja]=次へ
Name[ko]=다음
Name[lt]=Kitas
Name[nb_NO]=Neste
Name[nl_BE]=Volgende
Name[nl]=Volgende
Name[pl]=Następny
Name[pt_BR]=Próxima
Name[pt]=Seguinte
Name[pt_PT]=Seguinte
Name[ru]=Далее
Name[sk]=Nasledujúca
Name[sr@latin]=Sledeća
Name[sr]=Следећа
Name[sv]=Nästa
Name[tr]=Sonraki
Name[uk]=Наступна
Name[zh_CN]=下一曲
Name[zh_Hant]=下一首
Name=Next
Exec=lollypop -n

[Desktop Action Prev]
Name[ar]=السابق
Name[ca]=Anterior
Name[cs]=Předchozí
Name[da]=Forrige
Name[de]=Vorheriger Titel
Name[el]=Προηγούμενο
Name[en_GB]=Previous
Name[en_IE]=Previous
Name[eo]=Antaŭa
Name[es]=Anterior
Name[fa]=پیشین
Name[fi]=Edellinen
Name[fr]=Précédent
Name[ga]=An rian roimhe
Name[he]=הקודם
Name[hr]=Prethodna
Name[hu]=Előző
Name[ie]=Precedent
Name[it]=Precedente
Name[ja]=前へ
Name[ko]=이전
Name[lt]=Ankstesnis
Name[nb_NO]=Forrige
Name[nl_BE]=Vorige
Name[nl]=Vorige
Name[pl]=Poprzedni
Name[pt_BR]=Anterior
Name[pt]=Anterior
Name[pt_PT]=Anterior
Name[ru]=Предыдущий
Name[sk]=Predchádzajúca
Name[sr@latin]=Prethodna
Name[sr]=Претходна
Name[sv]=Föregående
Name[tr]=Önceki
Name[uk]=Попередня
Name[zh_CN]=上一曲
Name[zh_Hant]=上一首
Name=Previous
Exec=lollypop -p
