[Desktop Entry]
Name=Logs
Name[ko]=로그 보기
GenericName=Log Viewer
GenericName[ko]=로그 보기
Comment=View detailed event logs for the system
Comment[ko]=시스템의 여러가지 로그를 확인합니다
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=log;journal;debug;error;
Type=Application
Categories=GTK;GNOME;System;Monitor;Utility;X-GNOME-Utilities;
Exec=gnome-logs
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Logs
Terminal=false
StartupNotify=true
DBusActivatable=true
X-Ubuntu-Gettext-Domain=gnome-logs
