[Desktop Entry]
Name=Pix
Name[af]=Pix
Name[am]=Pix
Name[ar]=Pix
Name[az]=Piks
Name[be]=Pix
Name[bg]=Pix
Name[bn]=পিক্স
Name[ca]=Pix
Name[ca@valencia]=Pix
Name[cs]=Pix
Name[cy]=Pix
Name[da]=Pix
Name[de]=Pix
Name[dz]=ཇི་ཐམཔ།
Name[el]=Pix
Name[en_CA]=Pix
Name[en_GB]=Pix
Name[eo]=Pix
Name[es]=Pix
Name[et]=Pix
Name[eu]=Pix
Name[fa]=Pix
Name[fi]=Pix
Name[fr]=Pix
Name[fr_CA]=Pix
Name[gl]=Pix
Name[gu]=જીથમ્બ
Name[he]=פיקס
Name[hi]=पिक्स
Name[hr]=Pix
Name[hu]=Pix
Name[ia]=Pix
Name[id]=Pix
Name[ie]=Pix
Name[is]=Pix
Name[it]=Pix
Name[ja]=Pix
Name[kab]=Pix
Name[kk]=Pix
Name[kn]=Pix
Name[ko]=이미지 뷰어
Name[la]=Pix
Name[lt]=Pix
Name[lv]=Pix
Name[mk]=Pix
Name[mr]=पिक्स
Name[ms]=Pix
Name[nb]=Pix
Name[nds]=Pix
Name[ne]=जीथम्ब
Name[nl]=Pix
Name[oc]=Pix
Name[pa]=ਜੀ-ਥੰਮ
Name[pl]=Pix
Name[ps]=Pix
Name[pt]=Pix
Name[pt_BR]=Pix
Name[ro]=Pix
Name[ru]=Pix
Name[sk]=Pix
Name[sl]=Pix
Name[sr]=Гномов сличко
Name[sr@Latn]=Pix
Name[sr@latin]=Pix
Name[sv]=Pix
Name[ta]=பிக்ஸ்
Name[th]=Pix
Name[tr]=Pix
Name[uk]=Pix
Name[ur]=پکس
Name[vi]=Pix
Name[xh]=i-Pix
Name[zh_CN]=Pix 相册
Name[zh_HK]=Pix
Name[zh_TW]=Pix
GenericName=Image Viewer
GenericName[af]=Beeldvertoner
GenericName[am]=ምስል መመልከቻ
GenericName[ar]=عارض الصور
GenericName[az]=Görsəl Göstərən
GenericName[be]=Праглядальнік выяў
GenericName[bg]=Преглед на изображения
GenericName[ca]=Visualitzador d'imatges
GenericName[ca@valencia]=Visualitzador d'imatges
GenericName[cs]=Prohlížeč obrázků
GenericName[cy]=Dangosydd Delweddau
GenericName[da]=Billedfremviser
GenericName[de]=Bildbetrachter
GenericName[dz]=གཟུགས་བརྙན་མཐོང་བྱེད།
GenericName[el]=Εφαρμογή προβολής εικόνων
GenericName[en_CA]=Image Viewer
GenericName[en_GB]=Image Viewer
GenericName[eo]=Bildomontrilo
GenericName[es]=Visor de imágenes
GenericName[et]=Pildinäitaja
GenericName[eu]=Irudi ikustailea
GenericName[fi]=Kuvakatselin
GenericName[fr]=Visionneur d'image
GenericName[fr_CA]=Visionneuse d’images
GenericName[gl]=Visor de imaxes
GenericName[gu]=ઈમેજ દર્શક
GenericName[he]=משקף תמונות
GenericName[hi]=चित्र प्रदर्शक
GenericName[hr]=Preglednik slika
GenericName[hu]=Képmegjelenítő
GenericName[ia]=Visor de Imagine
GenericName[id]=Penampil Gambar
GenericName[ie]=Visor de images
GenericName[is]=Myndarýnir
GenericName[it]=Visualizzatore immagini
GenericName[ja]=画像ビューアー
GenericName[kab]=Ameskan n tugna
GenericName[kk]=Суреттер көрсетушісі
GenericName[kn]=ಚಿತ್ರ ನೋಡುಗ
GenericName[ko]=이미지 뷰어
GenericName[ku]=Nîşanderê Wêneyan
GenericName[la]=Imaginum Ostenditor
GenericName[lt]=Paveikslų žiūryklė
GenericName[lv]=Attēlu skatītājs
GenericName[mk]=Прегледувач на слики
GenericName[mr]=प्रतिमा दर्शक
GenericName[nb]=Bildeviser
GenericName[nds]=Billopwieser
GenericName[ne]=छवि दर्शक
GenericName[nl]=Afbeeldingkijker
GenericName[oc]=Afichador d'imatges
GenericName[pa]=ਚਿੱਤਰ ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka obrazów
GenericName[ps]=انځور ليدونی
GenericName[pt]=Visualizador de imagens
GenericName[pt_BR]=Visualizador de imagens
GenericName[ro]=Vizualizator de imagini
GenericName[ru]=Просмотр изображений Pix
GenericName[sk]=Prehliadač obrázkov
GenericName[sl]=Pregledovalnik slik
GenericName[sr]=Прегледник слика
GenericName[sr@latin]=Pregledač slika
GenericName[sv]=Bildvisare
GenericName[ta]=நிழற்பட நோக்கன்
GenericName[th]=โปรแกรมดูภาพ
GenericName[tr]=Resim Görüntüleyici
GenericName[uk]=Переглядач зображень
GenericName[ur]=تصویر ناظر
GenericName[vi]=Bộ xem ảnh
GenericName[zgh]=ⴰⵎⵥⵕ ⵏ ⵜⵡⵍⴰⴼⵉⵏ
GenericName[zh_CN]=图像浏览器
GenericName[zh_HK]=圖像檢視器
GenericName[zh_TW]=影像檢視器
X-GNOME-FullName=Pix Image Viewer
X-GNOME-FullName[af]=Pix Beeldvertoner
X-GNOME-FullName[am]=የPix ምስል ተመልካች
X-GNOME-FullName[ar]=Pix عارض الصور
X-GNOME-FullName[az]=Piks Görsəl Göstərəni
X-GNOME-FullName[be]=Праглядальнік выяў Pix
X-GNOME-FullName[bg]=Преглед на изображения (Pix)
X-GNOME-FullName[bn]=পিক্স ছবি প্রদর্শক
X-GNOME-FullName[ca]=Visualitzador d'imatges Pix
X-GNOME-FullName[ca@valencia]=Visualitzador d'imatges Pix
X-GNOME-FullName[cs]=Prohlížeč obrázků Pix
X-GNOME-FullName[cy]=Pix - Dangosydd Delweddau
X-GNOME-FullName[da]=Pix - billedfremviseren
X-GNOME-FullName[de]=Pix-Bildbetrachter
X-GNOME-FullName[dz]=ཇི་ཐམཔ་ གཟུགས་བརྙན་ མཐོང་བྱེད།
X-GNOME-FullName[el]=Προβολή εικόνων Pix
X-GNOME-FullName[en_CA]=Pix Image Viewer
X-GNOME-FullName[en_GB]=Pix Image Viewer
X-GNOME-FullName[eo]=Bildomontrilo Pix
X-GNOME-FullName[es]=Visor de imágenes Pix
X-GNOME-FullName[et]=Pix Pildivaataja
X-GNOME-FullName[eu]=Pix irudi ikustailea
X-GNOME-FullName[fa]=نمایش‌دهنده‌ی تصویر Pix
X-GNOME-FullName[fi]=Pix-kuvakatselin
X-GNOME-FullName[fr]=Visionneur d'images Pix
X-GNOME-FullName[fr_CA]=Visionneuse d'images Pix
X-GNOME-FullName[gl]=Visor de imaxes Pix
X-GNOME-FullName[gu]=જીથમ્બ ઈમેજ દર્શક
X-GNOME-FullName[he]=משקף תמונות פיקס
X-GNOME-FullName[hi]=पिक्स चित्र प्रदर्शक
X-GNOME-FullName[hr]=Pix preglednik slika
X-GNOME-FullName[hu]=Pix képmegjelenítő
X-GNOME-FullName[ia]=Visor de imagine de Pix
X-GNOME-FullName[id]=Pix Penampil Gambar
X-GNOME-FullName[ie]=Visor de images Pix
X-GNOME-FullName[is]=Pix myndskoðari
X-GNOME-FullName[it]=Visualizzatore immagini Pix
X-GNOME-FullName[ja]=Pix 画像ビューアー
X-GNOME-FullName[kab]=Ameskan n tugna Pix
X-GNOME-FullName[kk]=Pix Кескін Көруші
X-GNOME-FullName[kn]=Pix ಚಿತ್ರ ನೋಡುಗ
X-GNOME-FullName[ko]=픽스  이미지 뷰어
X-GNOME-FullName[la]=Pix Imaginum Ostenditor
X-GNOME-FullName[lt]=Pix paveikslų žiūryklė
X-GNOME-FullName[lv]=Pix attēlu skatītājs
X-GNOME-FullName[mk]=Pix прегледувач на слики
X-GNOME-FullName[mr]=पिक्स प्रतिमा दर्शक
X-GNOME-FullName[ms]=Pelihat Imej Pix
X-GNOME-FullName[nb]=Pix bildeviser
X-GNOME-FullName[nds]=Pix Billopwieser
X-GNOME-FullName[ne]=जीथम्ब छवि दर्शक
X-GNOME-FullName[nl]=Pix afbeeldingkijker
X-GNOME-FullName[oc]=Afichador d’imatges Pix
X-GNOME-FullName[pa]=ਜੀ-ਥੰਮ ਚਿੱਤਰ ਦਰਸ਼ਕ
X-GNOME-FullName[pl]=Przeglądarka obrazów Pix
X-GNOME-FullName[ps]=انځور ليدونی Pix
X-GNOME-FullName[pt]=Visualizador de Imagens Pix
X-GNOME-FullName[pt_BR]=Visualizador de imagens Pix
X-GNOME-FullName[ro]=Pix vizualizator de imagini
X-GNOME-FullName[ru]=Просмотр изображений Pix
X-GNOME-FullName[sk]=Prehliadač obrázkov Pix
X-GNOME-FullName[sl]=Pix pregledovalnik slik
X-GNOME-FullName[sr]=Прегледач слика Гномов сличко
X-GNOME-FullName[sr@Latn]=Pix Pregledač slika
X-GNOME-FullName[sr@latin]=Pix Pregledač slika
X-GNOME-FullName[sv]=Bildvisaren Pix
X-GNOME-FullName[ta]=பிக்ஸ் நிழற்பட நோக்கன்
X-GNOME-FullName[th]=โปรแกรมดูภาพ Pix
X-GNOME-FullName[tr]=Pix Resim Gösterici
X-GNOME-FullName[uk]=Переглядач зображень Pix
X-GNOME-FullName[ur]=پکس تصاویر ناظر
X-GNOME-FullName[vi]=Bộ xem ảnh Pix
X-GNOME-FullName[xh]=IsiBonakalisi soMfanekiso i-Pix
X-GNOME-FullName[zh_CN]=Pix 图像浏览器
X-GNOME-FullName[zh_HK]=Pix 圖像檢視器
X-GNOME-FullName[zh_TW]=Pix 影像檢視器
Comment=View and organize your images
Comment[af]=Besigtig en organiseer jou beelde
Comment[am]=የ እርስዎን ምስሎች ይመልከቱ እና ያደራጁ
Comment[ar]=عرض وتنظيم الصور الخاصة بك
Comment[az]=Görsəllərinizi göstərin, düzənləyin
Comment[be]=Прагляд і ўпарадкаванне вашых выяў
Comment[bg]=Преглед и организиране на вашите изображения
Comment[ca]=Visualitzeu i organitzeu les vostres imatges
Comment[ca@valencia]=Visualitzeu i organitzeu les vostres imatges
Comment[cs]=Prohlížejte a uspořádávejte své obrázky
Comment[cy]=Gweld a threfnu eich delweddau
Comment[da]=Vis og organisér dine billeder
Comment[de]=Ihre Bilder betrachten und katalogisieren
Comment[dz]=ཁྱོད་རའི་གཟུགས་བརྙན་ཚུ་ སྟོན་བཞིནམ་ལས་  འགོ་འདྲེན་འཐབ།
Comment[el]=Προβάλλετε και οργανώστε τις εικόνες σας
Comment[en_CA]=View and organize your images
Comment[en_GB]=View and organise your images
Comment[eo]=Montri kaj organizi viajn bildojn
Comment[es]=Muestre y organice sus imágenes
Comment[et]=Vaata ja korrasta oma pilte
Comment[eu]=Ikusi eta antolatu zure irudiak
Comment[fa]=تصاویر خود را ببنینید و سازمان‌دهی کنید
Comment[fi]=Katsele ja järjestä kuviasi
Comment[fr]=Afficher et organiser vos images
Comment[fr_CA]=Afficher et organiser vos images
Comment[gl]=Ver e organizar as túas imaxes
Comment[gu]=તમારી ઈમેજો જુઓ અને આયોજિત કરો
Comment[he]=צפייה וארגון תמונות
Comment[hi]=चित्र प्रदर्शन व संयोजन
Comment[hr]=Pregledavajte i organizirajte svoje slike
Comment[hu]=Képek megtekintése és rendszerezése
Comment[ia]=Vide e organisa tu imagines
Comment[id]=Tampilkan dan atur gambar-gambar Anda
Comment[ie]=Vise e organisa vor images
Comment[is]=Skoða og raða myndunum þínum
Comment[it]=Visualizza e organizza le proprie immagini
Comment[ja]=画像を表示し管理するツールです
Comment[kab]=Wali udiɣ sudded tugniwin inek
Comment[kn]=ನಿಮ್ಮ ಚಿತ್ರಗಳನ್ನು ನೋಡಿ ಹಾಗು ಜೋಡಿಸಿ
Comment[ko]=그림을 보고 관리도 하세요
Comment[la]=Tuas imagines ostende atque ordina
Comment[lt]=Peržiūrėti ir tvarkyti paveikslus
Comment[lv]=Skatiet un organizējiet savus attēlus
Comment[mk]=Гледајте ги и организирајте ги Вашите слики
Comment[ms]=Lihat dan pelihara imej anda
Comment[nb]=Vis og organiser dine bilder
Comment[ne]=तपाईँको छविहरू हेर्नुहोस् र संगठित गर्नुहोस्
Comment[nl]=Bekijk en rangschik uw afbeeldingen
Comment[oc]=Afichar e organizar vòstres imatges
Comment[pa]=ਆਪਣੇ ਚਿੱਤਰ ਵੇਖੋ ਤੇ ਇਹਨਾਂ ਦੀ ਸੰਭਾਲ ਕਰੋ
Comment[pl]=Wyświetlanie i organizacja obrazów
Comment[ps]=خپل انځورونه وګورﺉ او سم يې کړﺉ
Comment[pt]=Ver e organizar as suas imagens
Comment[pt_BR]=Veja e organize as suas imagens
Comment[ro]=Vizualizează și organizează imaginile tale
Comment[ru]=Просмотр изображений и ведение альбомов
Comment[sk]=Pozerajte a organizujte svoje obrázky
Comment[sl]=Oglejte in uredite svoje slike
Comment[sq]=Shfaq dhe organizon imazhet tuaja
Comment[sr]=Погледајте и средите своје слике
Comment[sr@Latn]=Pogledaj i organizuj svoje slike
Comment[sr@latin]=Pogledajte i uredite Vaše slike
Comment[sv]=Visa och organisera dina bilder
Comment[ta]=தங்கள் நிழற்படங்களை பார்க்க மற்றும் ஒழுங்குபடுத்த
Comment[th]=ดูและจัดการรูปภาพ
Comment[tr]=Resimleri düzenle ve göster
Comment[uk]=Перегляд і впорядкування зображень
Comment[ur]=اپنی تصاویر دیکھیں اور انہیں منظم کریں
Comment[vi]=Xem và tổ chức các ảnh của bạn
Comment[xh]=Buka uze ulungise imifanekiso yakho
Comment[zh_CN]=查看及管理图像
Comment[zh_HK]=檢視和組織你的圖像
Comment[zh_TW]=檢視和組織您的影像
Categories=GNOME;GTK;Graphics;Viewer;RasterGraphics;2DGraphics;Photography;
Exec=pix %U
Icon=pix
MimeType=image/bmp;image/jpeg;image/gif;image/png;image/tiff;image/x-bmp;image/x-ico;image/x-png;image/x-pcx;image/x-tga;image/xpm;image/svg+xml;
StartupNotify=true
Terminal=false
Type=Application
