[Desktop Entry]
Name=Stacer
Name[ko]=시스템 관리
Exec=stacer
Comment=Linux System Optimizer and Monitoring
Comment[ko]=시스템 모니터링 및 서비스 관리
Icon=stacer
Type=Application
Terminal=false
Encoding=UTF-8
Categories=System;
Keywords=stacer;system;service;
Keywords[ko]=stacer;system;시스템;서비스;service;