[Desktop Entry]
Name=Timeshift Backup
Name[ko]=시스템 스냅샷 Timeshift
MimeType=
Exec=timeshift-launcher
Type=Application
GenericName=Backup and Restore Utility
GenericName[ko]=시스템 백업 및 복구 프로그램
GenericName[ca]=Utilitat de restauració del sistema
GenericName[cs]=Nástroj pro obnovení systému
GenericName[da]=Værktøj til systemgendannelse
GenericName[fr]=Utilitaire de restauration système
GenericName[hr]=Alat obnove sustava
GenericName[lt]=Sistemos atkūrimo paslaugų programa
GenericName[nl]=Hulpmiddel voor systeemherstel
GenericName[ru]=Программа для восстановления системы
Terminal=false
Icon=timeshift
Comment=System Backup and Restore Utility
Comment[ko]=시스템을 백업 또는 복구합니다
Comment[ca]=Utilitat de restauració del sistema
Comment[cs]=Nástroj pro obnovení systému
Comment[da]=Værktøj til systemgendannelse
Comment[fr]=Utilitaire de restauration système
Comment[hr]=Alat obnove sustava
Comment[lt]=Sistemos atkūrimo paslaugų programa
Comment[nl]=Hulpmiddel voor systeemherstel
Comment[ru]=Программа для восстановления системы
X-KDE-StartupNotify=false
Categories=System;
X-GNOME-UsesNotifications=true
