[Desktop Entry]
Name=Text Editor
Name[ab]=文字編輯器
Name[af]=Teksredigeerder
Name[am]=ጽሁፍ ማረሚያ
Name[ar]=محرر النص
Name[as]=টেক্সট সম্পাদক
Name[ast]=Editor de Testu
Name[az]=Mətn Editoru
Name[be]=Тэкставы рэдактар
Name[be@latin]=Tekstavy redaktar
Name[bg]=Текстов редактор
Name[bn]=টেক্সট সম্পাদক
Name[bn_IN]=টেক্সট এডিটার
Name[br]=Embanner testennoù
Name[bs]=Tekst editor
Name[ca]=Editor de text
Name[ca@valencia]=Editor de text
Name[cmn]=文字編輯器
Name[crh]=Metin Muarriri
Name[cs]=Textový editor
Name[cy]=Golygydd Testun
Name[da]=Tekstredigering
Name[de]=Textbearbeitung
Name[dz]=ཚིག་ཡིག་ཞུན་དགཔ།
Name[el]=Επεξεργαστής κειμένου
Name[en@shaw]=𐑑𐑧𐑒𐑕𐑑 𐑧𐑛𐑦𐑑𐑼
Name[en_AU]=Text Editor
Name[en_CA]=Text Editor
Name[en_GB]=Text Editor
Name[eo]=Teksta Redaktilo
Name[es]=Editor de texto
Name[et]=Tekstiredaktor
Name[eu]=Testu-editorea
Name[fa]=ویرایشگر متن
Name[fi]=Tekstimuokkain
Name[fr]=Éditeur de texte
Name[ga]=Eagarthóir Téacs
Name[gl]=Editor de texto
Name[gu]=લખાણ સંપાદક
Name[he]=עורך מלל
Name[hi]=पाठ संपादक
Name[hr]=Uređivač teksta
Name[hu]=Szövegszerkesztő
Name[hy]=Տեքստի խմբագրիչ
Name[ia]=Editor de texto
Name[id]=Penyunting Teks
Name[ie]=Redactor de textus
Name[is]=Textaritill
Name[it]=Editor di testo
Name[ja]=テキストエディタ
Name[ka]=ტექსტის რედაქტორი
Name[kab]=Amaẓrag n uḍris
Name[kk]=Мәтін түзетушісі
Name[kn]=ಪಠ್ಯ ಸಂಪಾದಕ
Name[ko]=텍스트 편집기
Name[ku]=Edîtora Nivîsê
Name[ky]=Текст редактору
Name[la]=Editorium Litterae
Name[lt]=Tekstų redaktorius
Name[lv]=Teksta redaktors
Name[mai]=पाठ संपादक
Name[mg]=Fanovana lahabolana
Name[mk]=Уредувач за текст
Name[ml]=എഴുത്തിടം
Name[mn]=Текст боловсруулагч
Name[mr]=पाठ्य संपादक
Name[ms]=Penyunting Teks
Name[nb]=Skriveprogram
Name[nds]=Textbewarker
Name[ne]=पाठ सम्पादक
Name[nl]=Tekstbewerker
Name[nn]=Tekstredigering
Name[oc]=Editor de tèxte
Name[or]=ପାଠ୍ଯ ସମ୍ପାଦକ
Name[pa]=ਟੈਕਸਟ ਐਡੀਟਰ
Name[pl]=Edytor tekstu
Name[ps]=ليک سمونګر
Name[pt]=Editor de texto
Name[pt_BR]=Editor de texto
Name[ro]=Editor de text
Name[ru]=Текстовый редактор
Name[rw]=Umuhinduzi w'inyandiko
Name[si]=පෙළ සකසනය
Name[sk]=Textový editor
Name[sl]=Urejevalnik besedil
Name[sq]=Editues teksti
Name[sr]=Уређивач текста
Name[sr@latin]=Uređivač teksta
Name[sv]=Textredigerare
Name[ta]=உரை திருத்தி
Name[te]=పాఠమును సరిచేయునది
Name[th]=เครื่องมือแก้ไขข้อความ
Name[tk]=Metin Editçi
Name[tr]=Metin Düzenleyici
Name[uk]=Текстовий редактор
Name[ur]=متن مدون
Name[vi]=Bộ soạn thảo văn bản
Name[wa]=Aspougneu di tecse
Name[xh]=Umhleli wombhalo
Name[zgh]=ⴰⵎⵙⵏⴼⵍ ⵏ ⵉⴹⵕⵉⵚⵏ
Name[zh_CN]=文本编辑器
Name[zh_HK]=文字編輯器
Name[zh_TW]=文字編輯器
Comment=Edit text files
Comment[af]=Redigeer tekslêers
Comment[am]=የ ጽሁፍ ፋይሎች ማረሚያ
Comment[be]=Рэдагаваць тэкставыя файлы
Comment[bg]=Редактиране на текстови файлове
Comment[ca]=Editeu fitxers de text
Comment[ca@valencia]=Editar fitxers de text
Comment[cmn]=編輯文字檔
Comment[cs]=Upravit textové soubory
Comment[cy]=Golygu ffeiliau testun
Comment[da]=Redigér tekstfiler
Comment[de]=Textdateien bearbeiten
Comment[el]=Επεξεργασία αρχείων κειμένου
Comment[en_GB]=Edit text files
Comment[eo]=Redakti tekstdosierojn
Comment[es]=Editar archivos de texto
Comment[et]=Tekstifailide redigeerimine
Comment[eu]=Editatu testu-fitxategiak
Comment[fi]=Muokkaa tekstitiedostoja
Comment[fr]=Éditer des fichiers texte
Comment[he]=עריכת קובצי מלל
Comment[hi]=टेक्स्ट फ़ाइल संपादित करें
Comment[hr]=Uređivanje tekstovnih datoteka
Comment[hu]=Szövegfájlok szerkesztése
Comment[ia]=Rediger files de testo
Comment[id]=Sunting berkas teks
Comment[ie]=Redacte files textual
Comment[is]=Sýsla með textaskrár
Comment[it]=Modifica file di testo
Comment[ja]=テキストファイルを編集
Comment[kab]=Ẓreg ifuyla n uḍris
Comment[ko]=텍스트 파일 편집
Comment[lt]=Redaguoti tekstinius failus
Comment[nl]=Bewerk tekstbestanden
Comment[pl]=Edytuj pliki tekstowe
Comment[pt]=Editar ficheiros de texto
Comment[pt_BR]=Edite arquivos de texto
Comment[ro]=Editare fişiere text
Comment[ru]=Редактировать текстовые файлы
Comment[sk]=Úprava textových súborov
Comment[sr]=Уређивање текстуалних датотека
Comment[sr@latin]=Uredi tekstualne datoteke
Comment[sv]=Redigera textfiler
Comment[tr]=Metin dosyalarını düzenle
Comment[uk]=Редагувати текстові файли
Comment[zgh]=ⵙⵏⴼⵍ ⴰⴼⴰⵢⵍⵓ ⵏ ⵓⴹⵕⵉⵚ
Comment[zh_CN]=编辑文本文件
Comment[zh_HK]=編輯文字檔
Exec=xed %U
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=accessories-text-editor
Categories=GTK;Utility;TextEditor;
Keywords=text;editor;tabs;highlighting;code;multiple;files;pluggable;notepad;
X-MATE-DocPath=xed/xed.xml
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Name[ko]=새 창 열기
Exec=xed --new-window %U
