[Desktop Entry]
Name=Image Viewer
Name[ko]=이미지 뷰어
Comment=Browse and rotate images
Comment[ko]=이미지 회전 및 보기
TryExec=xviewer
Exec=xviewer %U
Icon=xviewer
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;Viewer;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=XVIEWER
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.2.4
X-GNOME-DocPath=xviewer/xviewer.xml
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/x-bmp;image/x-gray;image/x-icb;image/x-ico;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/x-pcx;image/svg+xml;image/svg+xml-compressed;image/vnd.wap.wbmp;
# Extra keywords that can be used to search for xviewer in GNOME Shell and Unity
Keywords=Picture;Slideshow;Graphics;
X-Ubuntu-Gettext-Domain=xviewer
