[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=hamonikr user enviroment setting
Comment=Apply HamoniKR Desktop Settings
Exec=set-user-env apply
Terminal=false
Type=Application
StartupNotify=false