[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=HamoniKR OS Settings
Name[ko]=하모니카OS 환경설정
Comment=Apply HamoniKR Desktop Settings
Comment[ko]=하모니카OS 사용자 환경을 설정합니다.
Exec=set-user-env apply
Terminal=false
Type=Application
StartupNotify=false